<%- include('../partials/headstart') %>

<link rel="stylesheet" href="/assets/css/erhverv.css">
<title>Document</title>

<%- include('../partials/headend') %> 
<%- include('../partials/headerstart') %>Erhverv<%- include('../partials/headerend') %>

<main>
    <%- include('../partials/hero') %>
    <div class="utility">
        <span class="size">menu</span>
    </div>
    <div class="burger closed">
        <ul class="burger__ul">
            <li><a href="#" class="burger__link">INDUSTRISERVICE</a></li>
            <li><a href="#" class="burger__link">FOVERFLADEBEHANDLING</a></li>
            <li><a href="#" class="burger__link">RENOVERING</a></li>
            <li><a href="#" class="burger__link">MANPOWER</a></li>
            <li><a href="#" class="burger__link">KLARGØRING</a></li>
            <li><a href="#" class="burger__link">KOMPOSITBELÆGNING</a></li>
            <li><a href="#" class="burger__link">GULVMALING</a></li>
            <li><a href="#" class="burger__link">BYGNINGSMALING</a></li>
            <li><a href="#" class="burger__link">INDUSTRILAKERING</a></li>
            <li><a href="#" class="burger__link">AUTOLAKERING</a></li>
            <li><a href="#" class="burger__link">SPECIALBELÆGNING</a></li>
            <div class="shutdown">(X)</div>
        </ul>
    </div>
    <div class="erhverv__content">
        <nav class="erhverv__menu">
            <ul class="erhverv__linklist">
                <li class="erhverv__item"><a class="erhverv__link" href="#">INDUSTRISERVICE</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">OVERFLADEBEHANDLING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">RENOVERING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">MANPOWER</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">KLARGØRING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">KOMPOSITBELÆGNING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">GULVMALING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">BYGNINGSMALING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">INDUSTRILAKERING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">AUTOLAKERING</a></li>
                <li class="erhverv__item"><a class="erhverv__link" href="#">SPECIALBELÆGNING</a></li>
            </ul>
        </nav>
        <article class="erhverv__article">
            <h1 class="erhverv__heading"></h1>
            <p class="erhverv__text"></p>
        </article>
    </div>
</main>
<%- include('../partials/footer') %>
<script src="/assets/javascript/menu.js"></script>
<script src="/assets/javascript/erhverv.js"></script>
<%- include('../partials/afterfooter') %>