<%- include('../partials/headstart') %>

<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<meta name="description" content="">
<title>Document</title>

<%- include('../partials/headend') %>
<%- include('../partials/headerstart') %>Hjem<%- include('../partials/headerend') %>

<main class="index__main">
    <%- include('../partials/hero') %>

    <section class="index__bullitpoints">
        <div class="index__bullit">
            <a class="index__bullit-link" href="#">
                <div class="index__bullit-wrapper">
                    <img class="index__bullit-img" src="/assets/images/TODO facebook-icon_red.png" alt="" srcset="">
                    <p class="index__bullit-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda voluptates corporis ut accusamus placeat cum inventore ipsam voluptatibus. Rerum optio esse quisquam asperiores dolorem necessitatibus, ratione fugit tenetur corrupti.</p>
                </div>
            </a>
        </div>
        <div class="index__bullit">
            <a class="index__bullit-link" href="#">
                <div class="index__bullit-wrapper">
                    <img class="index__bullit-img" src="/assets/images/TODO facebook-icon_red.png" alt="" srcset="">
                    <p class="index__bullit-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda voluptates corporis ut accusamus placeat cum inventore ipsam voluptatibus. Rerum optio esse quisquam asperiores dolorem necessitatibus, ratione fugit tenetur corrupti.</p>
                </div>
            </a>
        </div>
        <div class="index__bullit">
            <a class="index__bullit-link" href="#">
                <div class="index__bullit-wrapper">
                    <img class="index__bullit-img" src="/assets/images/TODO facebook-icon_red.png" alt="" srcset="">
                    <p class="index__bullit-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda voluptates corporis ut accusamus placeat cum inventore ipsam voluptatibus. Rerum optio esse quisquam asperiores dolorem necessitatibus, ratione fugit tenetur corrupti.</p>
                </div>            
            </a>
        </div>
    </section>
    <div class="index__parralax">
        <section class="index__text-box"><h2 class="index__text">Vi er bla. leveringsdygtige i manpower til flere af danmarks største kraftværker</h2></section>
    </div>
    <div class="index__rollover"></div>
    <div class="index__moveon"></div>
    <div class="slider">
        <%- include('../partials/slider') %>
    </div>
</main>
<%- include('../partials/footer') %>
<script src="/assets/javascript/index.js"></script>

<%- include('../partials/afterfooter') %>