<%- include('../partials/headstart') %>

<link rel="stylesheet" href="/assets/css/index.css">
<title>Document</title>

<%- include('../partials/headend') %> 
<%- include('../partials/headerstart') %>Job<%- include('../partials/headerend') %>

<main>
    <%- include('../partials/hero') %>
</main>
<%- include('../partials/footer') %>
<script src="/assets/javascript/index.js"></script>
<%- include('../partials/afterfooter') %>