<%- include('../partials/headstart') %>

<link rel="stylesheet" href="/assets/css/referencer.css">
<title>Document</title>

<%- include('../partials/headend') %> 
<%- include('../partials/headerstart') %>Referencer<%- include('../partials/headerend') %>

<main>
    <%- include('../partials/hero') %>

    <article class="reference__article">
        <h1 class="reference__heading"></h1>
        <p class="reference__text"></p>
    </article>
    <section class="reference__images-wrapper">
        <section class="reference__images">
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_bondesmobler.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_cj.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_hofor.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_houg.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_bondesmobler.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_cj.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_hofor.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_houg.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_bondesmobler.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_cj.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_hofor.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_houg.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_bondesmobler.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_cj.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_hofor.png" alt="" srcset=""></figure>
            <figure class="reference__img-box"><img class="reference__img" src="/assets/images/TODO_ref_houg.png" alt="" srcset=""></figure>
        </section>

    </section>

    <div class="reference__udtalelse">
        <p class="reference-text">
            “Udtalelse udtalelse udtalelse udtalelse
            udtalelse udtalelse udtalelse og udtalelse
            med mere udtalelse og udtalelse.
            Udtalelse udtalelse udtalelse til sidst.”
        </p>
        <h5 class="reference__navn">Navn Navnesen</h5>
    </div>
</main>
<%- include('../partials/footer') %>
<script src="/assets/javascript/referencer.js"></script>
<%- include('../partials/afterfooter') %>